codylab:
  datasource:
    url: jdbc:postgresql://localhost:5432/projects_management
    username: codylab
    password: cody|_ab2025
    driver: org.postgresql.Driver

logging:
  level:
    root: info

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:9090/realms/codylab
        registration:
          codylab-2025:
            client-id: codylab-client
            client-secret: oiJWmrarerSQWrutUAGaGKKQpZrpYcnK
            provider: keycloak
            scope:
              - openid
              - email
              - profile
