<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>

</head>
<body>
<h1>Project List</h1>


<ul>
    <li th:each="project : ${projects}">
        <a th:href="@{/mvc/project/code/{code}(code=${project.code})}" th:text="${project.name}"></a>

        <form th:action="@{/mvc/project/delete/{id}(id=${project.id})}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

<a href="/mvc/project/add">Add New Project</a>


</body>
</html>
